<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/autoAdapt.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/https.js"></script>
  <script src="../js/package.js"></script>
  <!-- <script src="../js/ort.js"></script> -->
  <link rel="stylesheet" href="../css/weixin.css">
  <title>参赛信息</title>
</head>
<body>
  <div id="matchInfor" class="greyBack">
    <!-- <div class="header">
      <div>
        <p><img onclick="window.history.go(-1)" src="../images/return.jpg" alt="">参赛信息</p>
      </div>
    </div> -->
    <div class="con">
			<div class="matchInforThree">
				<div>
					<p class="finishStatus fill">未完成</p>
					<p class="finishDetail">填写报名信息</p>
					<p class="clickBtn" onclick="enrollFun(1,this)">去填写</p>
				</div>
				<div>
					<p class="finishStatus fill">未完成</p>
					<p class="finishDetail">参赛曲目</p>
					<p class="clickBtn" onclick="enrollFun(2,this)">去填写</p>
				</div>
				<div>
					<p class="finishStatus fill">未完成</p>
					<p class="finishDetail">上传作品</p>
					<p class="clickBtn" onclick="enrollFun(3,this)">去填写</p>
				</div>
				<div class="saveDiv">
			    	<p class="save summit" onclick="submitEnroll()">提交报名</p>
            		<p class="mengBtn"></p>
			  </div>
			</div>
      <div class="modalEnroll">
        请先把信息填写完整
      </div>

    </div>
  </div>
  <script type="text/javascript">
    var href = location.href;
    var hrefArr = href.split('=');
    var id = parseInt(hrefArr[1]);
    var userid = parseInt(hrefArr[2]);
    var moneyTop = parseFloat(hrefArr[3]);
    var type = parseInt(hrefArr[4]);
    var genre = hrefArr[5];
    console.log(id,userid,moneyTop);
    console.log(hrefArr);
    var finishData;
    if (genre == 2) {
        alert('您已成功报名,如需查看订单、修改报名信息请前往音乐无界app进行操作');
        history.go(-1);
      }
    $(function(){
      $.ajax({
        url: httpC+'/zr/player/findUser.do?matchid='+id+'&userid='+userid,
        type: 'POST',
        success: function(data) {
          var data = eval('('+data+')');
          console.log(data);
          
          /* alert(data.data[0].msg);
          alert(data.data[1].msg);
          alert(data.data[2].msg); */
          
          finishData = data.data;
          editData(data.data);
        }
      });
    })
    function editData(data){
      for(var i = 0; i<data.length; i++){
        if (data[i].code % 2 != 0) {
          $('.fill').eq(i).html('未完成');
        }else{
          $('.clickBtn').eq(i).attr('abc',1);
          $('.fill').eq(i).html('已完成');
        }
      }
    }
    function enrollFun(num,target){
      if ($(target).attr('abc') == undefined) {
        if (num == 1) {
          if (type == 1) {
            location.href='pianoEnroll.html?id='+id+'&userid='+userid;
          }else{
            location.href='voiceEnroll.html?id='+id+'&userid='+userid;
          }
        }else if(num == 2){
          location.href='matchGroup.html?id='+id+'&userid='+userid;
        }else if(num == 3){
          location.href='groupUp.html?id='+id+'&userid='+userid;
        }
      }

    }
    /* function submitEnroll(){
      for (var i = 0; i < finishData.length; i++) {
        if (finishData[i].code%2 != 0) {
          ownModalEnrollFun();
          return false;
          return false;
        }else if(genre == 3){
          $.ajax({
            url: httpC+'/zr/tOrders/getPlayerOrder.do?matchid='+id+'&userid='+userid+'&fee='+moneyTop,
            type: 'POST',
            success: function(data) {
              if (data.code == 0) {
                //支付
                var ordernum=data.data.ordersnum;
                //alert('../WxMainServlet?product='+ordernum+'&money='+moneyTop+'&matchid='+id+'&userid='+userid);
                location.href='../WxMainServlet?product='+ordernum+'&money='+moneyTop+'&matchid='+id+'&userid='+userid;
                console.log(data);
              }else{
                alert(data.msg);
              }
            }
          });
        }
      }
    } */
    function submitEnroll(){
        for (var i = 0; i < finishData.length; i++) {
          if (finishData[i].code%2 != 0) {
            ownModalEnrollFun();
            return false;
          }
        }
        $('.mengBtn').show();
        setTimeout(function(){
          $('.mengBtn').hide();
        },5000);
        if(genre == 3){
          $.ajax({
            url: httpC+'/zr/tOrders/getPlayerOrder.do?matchid='+id+'&userid='+userid+'&fee='+moneyTop,
            type: 'POST',
            success: function(data) {
              if (data.code == 0) {
            	//支付
                  //alert(data);
    			  var ordernum=data.data.ordersnum;
    			  //alert('../WxMainServlet?product='+ordernum+'&money='+moneyTop+'&id='+id);
                  location.href='../WxMainServlet?product='+ordernum+'&money='+moneyTop+'&matchid='+id+'&userid='+userid;
                console.log(data);
              }else{
                alert(data.msg);
              }
            }
          });
        }
      }
  </script>
</body>
</html>
