<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="/device/js/autoAdapt.js"></script> -->
  <script src="{{ .STATIC_FILE_HOST }}/statics/js/jquery.min.js"></script>
  <script src="/device/js/ort.js"></script>
  <link rel="stylesheet" href="/device/css/weixin.css">
  <title>Document</title>
</head>
<body>
  <div id="matchDetail" class="wrap">
    <div class="header">
      <!-- <div>
        <img onclick="window.history.go(-1)" src="/device/images/return.jpg" alt="">
        <p>参赛信息</p>
      </div> -->
    </div>
    <div class="con">
      <div class="detailH">
        <img src="/device/images/banner.png" alt="">
      </div>
      <div class="detailAbstract">
        <h1>报名方式</h1>
        <p>瑞典斯德哥尔摩当地时间2016年10月13日下午1点，瑞典学院将2016年度诺贝尔文学奖颁给了75岁的美国音乐家鲍勃·迪伦。今年的奖金为800万瑞典克朗，折合约610万元人民币、90万美元。敲，敲，鲍勃·迪伦终于敲开了诺贝尔的瑞典斯德哥尔摩当地时间2016年10月13日下午1点，瑞典学院将2016年度诺贝尔文学奖颁给了75岁的美国音乐家鲍勃·迪伦。今年的奖金为800万瑞典克朗，折合约610万元人民币、90万美元。
          瑞典斯德哥尔摩当地时间2016年10月13日下午1点，瑞典学院将2016年度诺贝尔文学奖颁给了75岁的美国音乐家鲍勃·迪伦。今年的奖金为800万瑞典克朗，折合约610万元人民币、90万美元。敲，敲，鲍勃·迪伦终于敲开了诺贝尔的瑞典斯德哥尔摩当地时间2016年10月13日下午1点，瑞典学院将2016年度诺贝尔文学奖颁给了75岁的美国音乐家鲍勃·迪伦。今年的奖金为800万瑞典克朗，折合约610万元人民币、90万美元。
        </p>
      </div>
    </div>
    <div class="footer">
      <span class="slideListen">我要旁听（¥1000）</span>
      <span class="runMatch">我要参赛（¥2000）</span>
    </div>
  </div>
</body>
</html>
