<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="../js/autoAdapt.js"></script> -->
    <script src="../js/jquery.js"></script>
    <script src="../js/ort.js"></script>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/music.css">
    <script src="../js/jquery.form.js"></script>
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/weui.css"/>
    <link rel="stylesheet" href="../css/example.css"/>
    <script src="../js/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="../js/example.js"></script>
    <title>学员报名</title>
</head>
<body>
    <div class="wrap" id="musicMatchInfor">
        <div class="upHeadingDiv">
            <div class="upHeadingBtn">
                <img class="headingImg" src="" alt="">
                <img class="upCamera" src="../images/cam.png" alt="">
                <form class="upHuzhaoImg1" id="myform1" method="post" action="http://upload-z1.qiniu.com" enctype="multipart/form-data">
                    <input class="getTime1" name="key" type="hidden" value="">
                    <input name="x:<custom_name>" type="hidden" value="">
                    <input class="tokenUrl1" name="token" type="hidden" value="">
                    <input onclick="fileClickFun(1,2)" id="upInput1" class="upVideoInput1" style="margin:0;" class="upVideo" name="file" type="file" accept="image/*" value=""/>
                    <input name="accept" type="hidden" value="" />
                </form>
            </div>
            <p class="upHeadingP">为核实报名者身份,请上传真实头像</p>
        </div>
        <div class="auditHeader">
            <div class="musicSelect">
                <span class="musicSelectSpan">真实姓名</span>
                <div class="musicInputDiv">
                    <input class="musicName" type="text" placeholder="请输入你的姓名">
                    <span class="musicJian"></span>
                </div>
            </div>
            <div class="musicSelect">
                <span class="musicSelectSpan">性别</span>
                <div class="musicInputDiv">
                    <input class="sex musicInputS " readonly type="text" placeholder="选择你的性别">
                    <select name="" id="">
                        <option value="1" abc="1">男</option>
                        <option value="0" abc="0">女</option>
                    </select>
                    <span class="musicJian">></span>
                </div>
            </div>
            <div class="musicSelect">
                <span class="musicSelectSpan">出生年月</span>
                <div class="musicInputDiv">
                    <input class="year"  id="bornDate" readonly type="text" placeholder="请选择你的出生年月">
                    <span class="musicJian">></span>
                </div>
            </div>
            <div class="musicSelect">
                <span class="musicSelectSpan">联系方式</span>
                <div class="musicInputDiv">
                    <input class="phone checkTrue" type="text" placeholder="请输入你的联系方式">
                    <span class="musicJian"></span>
                </div>
            </div>
            <div class="musicSelect">
                <span class="musicSelectSpan">电子邮箱</span>
                <div class="musicInputDiv">
                    <input class="email checkTrue" type="text" placeholder="请输入电子邮箱">
                    <span class="musicJian"></span>
                </div>
            </div>
            <div class="musicSelect">
                <span class="musicSelectSpan">专业老师</span>
                <div class="musicInputDiv">
                    <input class="musicTeacher" type="text" placeholder="请输入专业老师姓名">
                    <span class="musicJian"></span>
                </div>
            </div>
        </div>
        <div class="auditUpImage">
            <h1>个人护照照片页</h1>
            <div class="auditUpImageDiv">
                <img class="huzhao" src="../images/huzhao.png" alt="">
                <form class="upHuzhaoImg1" id="myform2" method="post" action="http://upload-z1.qiniu.com" enctype="multipart/form-data">
                    <input class="getTime2" name="key" type="hidden" value="">
                    <input name="x:<custom_name>" type="hidden" value="">
                    <input class="tokenUrl2" name="token" type="hidden" value="">
                    <input onclick="fileClickFun(2,1)" id="upInput2" class="upVideoInput2" style="margin:0;" class="upVideo" name="file" type="file" accept="image/*" value=""/>
                    <input name="accept" type="hidden" value="" />
                </form>
                <p class="upImgBtn">上传个人护照照片页</p>
            </div>
        </div>
        <div class="musicPayMoney">
           <p class="nextClick" onclick="saveFun()">下一步</p>
           <p class="musicClickModal"></p>
        </div>
    </div>
    <div class="modalOwn">
        信息填写不完整
      </div>
    <script src="../js/https.js"></script>
    <script src="../js/package.js"></script>
    <script>
        musicDropList();
        tokenFun(1);
        tokenFun(2);
        checkFun();
        $('#bornDate').on('click', function () {
            weui.datePicker({
                start: 1990,
                end: new Date().getFullYear(),
                onChange: function (result) {
                console.log($(this));
                    console.log(result);
                    console.log($('.weui-picker__content').eq(0).css('transform'));
                    var t =$('.weui-picker__content').eq(0).css('transform').split(',')[5];
                    var ts = parseFloat(t);
                    $('.weui-picker__content').eq(0).css('transform',' translate3d(0px, '+t+'px, 0px)');
                    console.log('ts',parseFloat(t));
                },
                onConfirm: function (result) {
                    $('#bornDate').val(result[0]+'-'+result[1]+'-'+result[2]);
                    $('#bornDate').css('color','#000000');
                }
            });
            // $('.weui-picker__content').eq(1).css('transform',' translate3d(0px, -109px, 0px)');
            // $('.weui-picker__content').eq(2).css('transform',' translate3d(0px, -428px, 0px)');
        });
        var href = location.href;
        var arr = href.split('=');
        var id = arr[1].split('&')[0];
        var userid = arr[2].split('&')[0];
        var money = arr[3];
        function saveFun(){
            var x;
            var data;
                url = httpC+'/zr/tCompet/insertCompet.do';
                data={
                    name:$('.musicName').val(),
                    heading:$('.headingImg').attr('abc'),
                    sex:$('.sex').attr('abc'),
                    year:$('.year').val(),
                    phone:$('.phone').val(),
                    email:$('.email').val(),
                    teacher:$('.musicTeacher').val(),
                    passimg:$('.huzhao').attr('abc'),
                    matchid:id,
                    userid:userid
                };
                console.log('data',data);
                for (var x in data) {
                    console.log(x); // key
                    console.log(data[x]);//value
                    if (data[x] == undefined || data[x] == '') {
                        alert('请把信息填写完整');
                        return false;
                    }
                }
                $('.musicClickModal').show();
                setTimeout(function(){
                    $('.musicClickModal').hide();
                },5000);
                $.ajax({
                    url: url,
                    type: 'POST',
                    data:data,
                    success: function(data) {
                        console.log(data);
                        if(data.code==0){
                            //支付
                            $.ajax({
                                url:httpC+'/zr/tOrders/getMusicOrders.do?matchid='+id+'&userid='+userid,
                                type:'POST',
                                success:function(data){
                                    console.log(data);
                                    if (data.code == 0) {
                                        var ordernum=data.data.ordersnum;
                                        // location.href='../WxMainServlet?product='+ordernum+'&money='+money+'&matchid='+id+'&userid='+userid;
                                        console.log(data);
                                    }
                                }
                            })
                        }
                    }
                });
        }
    </script>
</body>
</html>