<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/autoAdapt.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/ort.js"></script>
  <script src="../js/package.js"></script>
  <script src="../js/https.js"></script>
  <link rel="stylesheet" href="../css/weixin.css">
  <link rel="stylesheet" href="../css/weui.css"/>
  <link rel="stylesheet" href="../css/example.css"/>
  <script src="../js/zepto.min.js"></script>
  <script src="../js/jquery.form.js"></script>
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
  <script src="../js/example.js"></script>
  <title>报名信息</title>
</head>
<body>
  <div id="enrollInfor" class="wrap greyBack">
    <!-- <div class="header">
      <div>
        <p><img onclick="window.history.go(-1)" src="../images/return.jpg" alt="">报名信息<span class ="titleSave headerRightSpan">保存</span></p>
      </div>
    </div> -->
    <div class="con">
      <p class="auditHeader"><span>基本资料</span><span class="mustWrite">必填</span></p>
      <div class="headingCon">
          <div class="headingConLeft" id="upDiv2">
            <img class="upL" id="upLoadImg2" src="../images/head.png" alt="">
            <p class="mengImg">已选择图片，请点击提交</p>
            <form id="myform4" method="post" enctype="multipart/form-data" action="http://ss.classicalmusician.com.cn/libomo-web/web/tVideoUpload/up.do">
              <!-- capture表示，可以捕获到系统默认的设备，比如：camera--照相机；camcorder--摄像机；microphone--录音。
            accept表示，直接打开系统文件目录。 -->
                <!-- <input type="file" accept="video/*" name="filename" capture="camcorder"> -->
                <input onchange="imgChangeFun()" id="fileBtn" type="file" name="filename">
                <button class="submit3">提交</button>
              </form>
            <p>请上传五官清晰照片</p>
          </div>
          <div class="headingConRight">
              <p><input class="headingBig" type="text" placeholder="请输入真实姓名"></p>
              <p class="dropP">
                <select style="left:0;" class="" name="">
                    <option value="1" abc="1">男</option>
                    <option value="0" abc="0">女</option>
                </select>
                <span type="text" class="enrollSex dropSpan">请选择性别</span>
              </p>
              <p><span type="text" class="born" id="bornPiano">请输入出生年月</span></p>
              <p><input type="text" class="phone checkTrue" placeholder="请输入联系方式"></p>
              <p><input type="text" class="email checkTrue" placeholder="请输入电子邮箱"></p>
          </div>
      </div>
      <div class="enrollConInfor backgWhite" style="margin-top:20px;">
        <p class="dropP">
          <span>参赛组别</span>
          <select class="" name="">
            <option abc="1000">钢琴初中组</option>
            <option abc="1001">钢琴高中组</option>
            <option abc="1002">钢琴大学组</option>
            <option abc="1003">钢琴青年艺术家组</option>
            <option abc="1004">古典美声高中组</option>
            <option abc="1005">古典美声大学组</option>
            <option abc="1006">古典美声青年艺术家组</option>
            <option abc="1007">音乐剧高中组</option>
            <option abc="1008">音乐剧大学组</option>
            <option abc="1009">音乐剧青年艺术家组</option>
          </select>
          <span class="dropSpan matchGroup" type="text">请选择参赛组别</span>
          <span class="jian">></span>
        </p>
        <p class="dropP">
          <span>声音类型</span>
          <select class="" name="">
            <option abc="1">女高音</option>
            <option abc="2">次女高音</option>
            <option abc="3">女中音</option>
            <option abc="4">女低音</option>
            <option abc="5">男高音</option>
            <option abc="6">男中音</option>
            <option abc="7">低男中音</option>
            <option abc="8">男低音</option>
            <option abc="9">假声男高音</option>
          </select>
          <span class="dropSpan voiceType" type="text">请选择声音类型</span>
          <span class="jian">></span>
        </p>
        <p class="dropP">
          <span>钢琴伴奏</span>
          <select class="" name="">
            <option value="" abc="1">需要</option>
            <option value="" abc="2">不需要</option>
          </select>
          <span class="dropSpan piano" type="text">请选择钢琴伴奏服务</span>
          <span class="jian">></span>
        </p>
      </div>
      <div class="enrollConInfor backgWhite" style='margin:0 0 56px 0;'>
        <p><span>身份证/护照</span><input class="cardNum checkTrue" type="text" placeholder="请输入身份证或护照号码"></p>
        <p><span>就读学院</span><input class="school" type="text" placeholder="请输入就读学院"></p>
        <p><span>学习专业</span><input class="major" type="text" placeholder="请输入学习专业"></p>
        <p><span>指导老师</span><input class="teacherName" type="text" placeholder="请输入指导老师姓名"></p>
      </div>
      <div class="modalOwn">
        信息填写不完整
      </div>
      <div class="enrollInforDiv">
        <p class="save summit" onclick="saveFun()">保存</p>
        <p class="mengBtn"></p>
      </div>
    </div>
  </div>
  <script src="../js/upLoadImg.js"></script>
  <script type="text/javascript">
    var href = location.href;
    var hrefArr = href.split('=');
    var id =hrefArr[1].split('&')[0];
    var userid = hrefArr[2].split('&')[0];
    console.log(hrefArr);
    console.log(id,userid);
    dropList();
    checkFun();
    $("#myform4").ajaxForm({
          //定义返回JSON数据，还包括xml和script格式
          dataType:'json',
          beforeSend: function() {
              //表单提交前做表单验证
          },
          success: function(data) {
              //提交成功后调用
              $('.mengImg').hide();
              var arr = data.data.url.split('/');
              var shortUrl = '/'+arr[arr.length-1];
              $('.upL').attr('src',data.data.url);
              $('.upL').attr('abc',shortUrl);
          }
      });
      function imgChangeFun(){
        $('.mengImg').show();
      }
    // var upObj ={
    //   clickID: 'upLoadImg2',
    //   conID:'upDiv2',
    //   size:'5MB',
    //   checkVideoOrPicture:'uploadimg',
    //   check:{
    //     title : "Image files",
    //      extensions : "jpg,gif,png"
    //    },
    // };
    // uploadQiniuNormal(upObj);
    function saveFun(){
      var x;
      var data;
        url = httpC+'/zr/player/insetPlayer.do?';
        data={
          name:$('.headingBig').val(),
          sex:$('.enrollSex').attr('abc'),
          image:$('.upL').attr('abc'),
          year:$('#bornPiano').html(),
          phone:$('.phone').val(),
          email:$('.email').val(),
          idcard:$('.cardNum').val(),
          school:$('.school').val(),
          education:$('.major').val(),
          grouping:$('.matchGroup').attr('abc'),
          voicetype:$('.voiceType').attr('abc'),
          pianotype:$('.piano').attr('abc'),
          teachername:$('.teacherName').val(),
          matchid:id,
          userid:userid
       };
      console.log('data',data);
      for (var x in data) {
        console.log(x); // key
        console.log(data[x]);//value
        if (data[x] == undefined || data[x] == '') {
          alert('请把信息填写完整');
          return false;
        }
      }
      $('.mengBtn').show();
      setTimeout(function(){
        $('.mengBtn').hide();
      },5000);
      saveAjax(url,data);

    }
    $('#bornPiano').on('click', function(){
        weui.datePicker({
            start: 1990,
            end: new Date().getFullYear(),
            onChange: function (result) {
              console.log($(this));
                console.log(result);
                console.log($('.weui-picker__content').eq(0).css('transform'));
                var t =$('.weui-picker__content').eq(0).css('transform').split(',')[5];
                var ts = parseFloat(t);
                $('.weui-picker__content').eq(0).css('transform',' translate3d(0px, '+t+'px, 0px)');
                console.log('ts',parseFloat(t));
            },
            onConfirm: function (result) {
                $('#bornPiano').html(result[0]+'-'+result[1]+'-'+result[2]);
                $('#bornPiano').css('color','#000000');
            }
        });
        // $('.weui-picker__content').eq(1).css('transform',' translate3d(0px, -109px, 0px)');
        // $('.weui-picker__content').eq(2).css('transform',' translate3d(0px, -428px, 0px)');
    });
  </script>
  <!-- <script>
  $(function(){
    dropList();
    $('.checkTrue').blur(function(){
      if ($(this).val() != '') {
        console.log($(this));
        if ($(this).attr('class').indexOf('phone') == '0') {
          console.log('手机号');
          checkPhone($(this).val());
        } else if($(this).attr('class').indexOf('email') == '0') {
          checkemail($(this).val());
        }
      }
    })
  })

  </script> -->
</body>
</html>
